@model TimetableSystem.Models.BPRViewModel
@{
    ViewBag.Title = "Availability";
}
<script type="text/javascript">
    $(document).ready(function () {
        refreshTable();
        //Set Park field change function
        $('#Park').change(function () {
            var queryLink = '@Url.Action("parkSelected")';
            $.get(queryLink, { parkName: $(this).val() }, function (data) {
                var temp = data.split('!');
                var buildings = temp[0].split(';');
                var rooms = temp[1].split(';');
                $b = $('#Building');
                $b.empty();
                $b.append("<option>No Preference</option>");
                $r = $('#Room');
                $r.empty();
                $r.append("<option>No Preference</option>");
                for (var i = 0; i < buildings.length; i++) {
                    $b.append("<option>" + buildings[i] + "</option>");
                }
                for (var k = 0; k < rooms.length; k++) {
                    $r.append("<option>" + rooms[k] + "</option>");
                }
            });
        });
        //Set Building field change function
        $('#Building').change(function () {
            var queryLink = '@Url.Action("buildingSelected")';
            $.get(queryLink, { buildingName: $(this).val() }, function (data) {
                var rooms = data.split(';');
                $r = $('#Room');
                $r.empty();
                $r.append("<option>No Preference</option>");
                for (var k = 0; k < rooms.length; k++) {
                    $r.append("<option>" + rooms[k] + "</option>");
                }
            });
        });
    });

    //Function to print the table based on current form data
    function refreshTable() {
        //Form values
        var park = $('#Park').val();
        var building = $('#Building').val();
        var room = $('#Room').val().split(' ')[0];
        //var room = temp[0];
        var semester = $('#Semester').val();
        var week = $('#Week').val();

        

        //Days and times arrays
        var days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"];
        var times = ["9:00-9:50", "10:00-10:50", "11:00-11:50", "12:00-12:50", "13:00-13:50", "14:00-14:50", "15:00-15:50",
                        "16:00-16:50", "17:00-17:50"];
        var periods = [1, 2, 3, 4, 5, 6, 7, 8, 9];

        //Initializing tableHTML variable
        var tableHTML = "<table><tr><th><p style='text-align: center'>-</p></th>";
        //Appending first row
        for (var i = 0; i < 9; i++) {
            tableHTML += "<th>" + times[i] + "</th>";
        }
        tableHTML += "</tr>";


        //Nested for loop to append timetable slots to tableHTML
        var period, day, result;
        for (var k = 0; k < 5; k++) {
            tableHTML += "<tr><th>" + days[k] + "</th>";
            day = days[k];
            for (var l = 0; l < 9; l++) {
                period = periods[l];

                $.get('@Url.Action("getAvailability")', { parkName: park, buildingName: building, roomCode: room,
                    semester: semester, week: week, day: day, period: period
                }, function (data) {
                    tableHTML += "<td>"+data+"</td>";
                });
                /*$.ajax({
                    url: '@Url.Action("getAvailability")',
                    async: false,
                    data: { parkName: park, buildingName: building, roomCode: room,
                    semester: semester, week: week, day: day, period: period},
                    success: function (data) {
                        tableHTML += "<td>bla</td>";
                    }
                });*/
                
            }
            tableHTML += "</tr>"
        }
        //Finish tableHTML and set #tableDIV to contain it.
        tableHTML += "</table>";
        $('#tableDiv').html(tableHTML);
    }
    


    
</script>
<h2>Availability</h2>

@*Park, Building, Room, Week*@
@{ string[] filters = {"Semester", "Park", "Building", "Room", "Week"};}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>Filters</legend>

            <div class="editor-label">
                @Html.Label("Semester")
            </div>
            <div class="editor-field">
                @Html.DropDownList("Semester", (IEnumerable<SelectListItem>)ViewData["Semester"])
                @Html.ValidationMessage("Semester", "Semester is mandatory")
            </div>

            <div class="editor-label">
                @Html.Label("Park")
            </div>
            <div class="editor-field">
                @Html.DropDownList("Park", (IEnumerable<SelectListItem>)ViewData["Park"], "No Preference")
            </div>

            <div class="editor-label">
                @Html.Label("Building")
            </div>
            <div class="editor-field">
                @Html.DropDownList("Building", (IEnumerable<SelectListItem>)ViewData["Building"], "No Preference")
            </div>

            <div class="editor-label">
                @Html.Label("Room")
            </div>
            <div class="editor-field">
                @Html.DropDownList("Room", (IEnumerable<SelectListItem>)ViewData["Room"], "No Preference")
            </div>

            <div class="editor-label">
                @Html.Label("Week")
            </div>
            <div class="editor-field">
                @Html.DropDownList("Week", (IEnumerable<SelectListItem>)ViewData["Week"])
            </div>

    </fieldset>
}
<div id="subtitleDiv">

</div>

<div id="tableDiv">
        
</div>

<input type="button" onclick="refreshTable()" value="Click Me!" />

   