@model TimetableSystem.Models.BPRViewModel
@{
    ViewBag.Title = "Availability";
}
<script type="text/javascript">
    $(document).ready(function () {
        refreshTable();
        //Set Park field change function
        $('#Park').change(function () {
            refreshTable();
            var queryLink = '@Url.Action("parkSelected")';
            $.get(queryLink, { parkName: $(this).val() }, function (data) {
                var temp = data.split('!');
                var buildings = temp[0].split(';');
                var rooms = temp[1].split(';');
                $b = $('#Building');
                $b.empty();
                $b.append("<option>No Preference</option>");
                $r = $('#Room');
                $r.empty();
                $r.append("<option>No Preference</option>");
                for (var i = 0; i < buildings.length; i++) {
                    $b.append("<option>" + buildings[i] + "</option>");
                }
                for (var k = 0; k < rooms.length; k++) {
                    $r.append("<option>" + rooms[k] + "</option>");
                }
            });
        });
        //Set Building field change function
        $('#Building').change(function () {
            refreshTable();
            var queryLink = '@Url.Action("buildingSelected")';
            $.get(queryLink, { buildingName: $(this).val() }, function (data) {
                var rooms = data.split(';');
                $r = $('#Room');
                $r.empty();
                $r.append("<option>No Preference</option>");
                for (var k = 0; k < rooms.length; k++) {
                    $r.append("<option>" + rooms[k] + "</option>");
                }
            });
        });
        $('#Room').change(function () {
            refreshTable();
        });
        $('#Semester').change(function () {
            refreshTable();
        });
        $('#Week').change(function () {
            refreshTable();
        });
        $('#Type').change(function () {
            refreshTable();
        });
        $('#slider-range-max').change(function () {
            refreshTable();
        });
        $(function () {
            $("#slider-range-max").slider({
                range: "max",
                min: 5,
                max: 300,
                value: 100,
                step: 5,
                change: refreshTable,
                slide: function (event, ui) {
                    $("#CapacityAmount").val(ui.value);
                }
            });
            $("#CapacityAmount").val($("#slider-range-max").slider("value"));
        });
    });

    //Function to print the table based on current form data
    function refreshTable() {
        //Form values
        var park = $('#Park').val();
        var building = $('#Building').val();
        var room = $('#Room').val().split(' ')[0];
        var semester = $('#Semester').val();
        var week = "";
        for(var i=1;i<16;i++){
            var cb = "#Week" + i;
            if ($(cb).is(':checked')) {
                week += i + ";";
            }
        }
        week = week.substr(0, week.length - 1);
        var capacity = $('#CapacityAmount').val();
        var roomType = $('#Type').val();

        var titleHtml = "<h2>Showing availability for ";

        if (room != "No" && room != "") {
            titleHtml += "room " + room + " for week " + week + ", semester " + semester;
        } else if (building != "No Preference" && building != "") {
            titleHtml += "building " + building + " for week " + week + ", semester " + semester;
        } else if (park != "No Preference" && park != "") {
            titleHtml += park + " park for week " + week + ", semester " + semester;
        } else { titleHtml += "all parks/buildings/rooms for week " + week + ", semester " + semester; }

        titleHtml += "</h2>";
        $('#subtitleDiv').html(titleHtml);

        //GET call to "getAvailability" function, which returns corresponding html string to print table
        $.get('@Url.Action("getAvailability")', { parkName: park, buildingName: building, roomCode: room,
            semester: semester, week: week, capacity: capacity, roomType: roomType
        }, function (data) {
            //alert(data);
            $('#tableDiv').html(data);
        });
    }

    function checkAll() {
        for(var i=1;i<16;i++){
            var cb = '#Week' + i;
            $(cb).prop('checked',true);
        }
    }

    
    
</script>
<h2>Availability</h2>

@*Park, Building, Room, Week*@
@{ string[] filters = {"Semester", "Park", "Building", "Room", "Week"};}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
            <div class="editor-label">
                @Html.Label("Semester")
            </div>
            <div class="editor-field">
                @Html.DropDownList("Semester", (IEnumerable<SelectListItem>)ViewData["Semester"])
            </div>

            <div class="editor-label">
                @Html.Label("Park")
            </div>
            <div class="editor-field">
                @Html.DropDownList("Park", (IEnumerable<SelectListItem>)ViewData["Park"], "No Preference")
            </div>

            <div class="editor-label">
                @Html.Label("Building")
            </div>
            <div class="editor-field">
                @Html.DropDownList("Building", (IEnumerable<SelectListItem>)ViewData["Building"], "No Preference")
            </div>

            <div class="editor-label">
                @Html.Label("Room")
            </div>
            <div class="editor-field">
                @Html.DropDownList("Room", (IEnumerable<SelectListItem>)ViewData["Room"], "No Preference")
            </div>

            @Html.Label("Week1")
            @Html.CheckBox("Week1",true)

            @Html.Label("Week2")
            @Html.CheckBox("Week2", true)

            @Html.Label("Week3")
            @Html.CheckBox("Week3", true)

            @Html.Label("Week4")
            @Html.CheckBox("Week4", true)

            @Html.Label("Week5")
            @Html.CheckBox("Week5", true)

            @Html.Label("Week6")
            @Html.CheckBox("Week6", true)

            @Html.Label("Week7")
            @Html.CheckBox("Week7", true)

            @Html.Label("Week8")
            @Html.CheckBox("Week8", true)

            @Html.Label("Week9")
            @Html.CheckBox("Week9", true)

            @Html.Label("Week10")
            @Html.CheckBox("Week10", true)

            @Html.Label("Week11")
            @Html.CheckBox("Week11", true)

            @Html.Label("Week12")
            @Html.CheckBox("Week12", true)

            @Html.Label("Week13")
            @Html.CheckBox("Week13")

            @Html.Label("Week14")
            @Html.CheckBox("Week14")

            @Html.Label("Week15")
            @Html.CheckBox("Week15")

            <input type="button" onclick="checkAll()" value="All" />

            @Html.Label("Type")
            @Html.DropDownList("Type", (IEnumerable<SelectListItem>)ViewData["Type"], "No Preference")

            <div class="editor-label">
                @Html.Label("Capacity")
            </div>
            <table>
                <tr>
                    <td style="width:300px"><div id="slider-range-max"></div></td>
                    <td style="width:100px; text-align:center">
                    <input type="text" id="CapacityAmount" readonly="readonly" style="width:50px" value="100" />
                    </td>
                </tr>
            </table>

}
<div id="subtitleDiv">

</div>

<div id="tableDiv">
        
</div>

            