
@{
    ViewBag.Title = "Availability";
}
<script type="text/javascript">
    $(document).ready(function () {
        refreshTable();
        //Set Park field change function
        $('#Park').change(function () {
            refreshTable();
            var queryLink = '@Url.Action("parkSelected")';
            $.get(queryLink, { parkName: $(this).val() }, function (data) {
                var temp = data.split('!');
                var buildings = temp[0].split(';');
                var rooms = temp[1].split(';');
                $b = $('#Building');
                $b.empty();
                $b.append("<option>No Preference</option>");
                $r = $('#Room');
                $r.empty();
                $r.append("<option>No Preference</option>");
                for (var i = 0; i < buildings.length; i++) {
                    $b.append("<option>" + buildings[i] + "</option>");
                }
                for (var k = 0; k < rooms.length; k++) {
                    $r.append("<option>" + rooms[k] + "</option>");
                }
            });
        });
        //Set Building field change function
        $('#Building').change(function () {
            refreshTable();
            var queryLink = '@Url.Action("buildingSelected")';
            $.get(queryLink, { buildingName: $(this).val() }, function (data) {
                var rooms = data.split(';');
                $r = $('#Room');
                $r.empty();
                $r.append("<option>No Preference</option>");
                for (var k = 0; k < rooms.length; k++) {
                    $r.append("<option>" + rooms[k] + "</option>");
                }
            });
        });
        $('#Room').change(function () {
            refreshTable();
        });
        $('#Semester').change(function () {
            refreshTable();
        });
        $('#Week').change(function () {
            refreshTable();
        });
        $('#Type').change(function () {
            refreshTable();
        });
        $('button').change(function () {
            refreshTable();
        });
        $('#slider-range-max').change(function () {
            refreshTable();
        });

        $(function () {
            $("#slider-range-max").slider({
                range: "max",
                min: 5,
                max: 300,
                value: 100,
                step: 5,
                change: refreshTable,
                slide: function (event, ui) {
                    $("#CapacityAmount").val(ui.value);
                }
            });
            $("#CapacityAmount").val($("#slider-range-max").slider("value"));
        });

        //checkbox functions
        function clearAll() {
            for (var i = 1; i < 16; i++) {
                var cb = '#Week' + i;
                $(cb).prop('checked', false);
            }
        }
        $('#clearAll').click(function () {
            clearAll();
        });
        $('#checkAll').click(function () {
            for (var i = 1; i < 16; i++) {
                var cb = '#Week' + i;
                $(cb).prop('checked', true);
            }
        });
        $('#oneToTwelve').click(function () {
            clearAll();
            for (var i = 1; i < 13; i++) {
                var cb = '#Week' + i;
                $(cb).prop('checked', true);
            }
        });
        $('#checkEven').click(function () {
            clearAll();
            for (var i = 1; i < 16; i++) {
                if (i % 2 == 0) {
                    var cb = '#Week' + i;
                    $(cb).prop('checked', true);
                }
            }
        });
        $('#checkOdd').click(function () {
            clearAll();
            for (var i = 1; i < 16; i++) {
                if (i % 2 == 1) {
                    var cb = '#Week' + i;
                    $(cb).prop('checked', true);
                }
            }
        });
    });

    //Function to print the table based on current form data
    function refreshTable() {
        //Form values
        var park = $('#Park').val();
        var building = $('#Building').val();
        var room = $('#Room').val().split(' ')[0];
        var semester = $('#Semester').val();
        var week = "";
        for(var i=1;i<16;i++){
            var cb = "#Week" + i;
            if ($(cb).is(':checked')) {
                week += i + ";";
            }
        }
        week = week.substr(0, week.length - 1);
        var capacity = $('#CapacityAmount').val();
        var roomType = $('#Type').val();

        var titleHtml = "<h2>Showing availability for ";

        if (room != "No" && room != "") {
            titleHtml += "room " + room + " for week " + week + ", semester " + semester;
        } else if (building != "No Preference" && building != "") {
            titleHtml += "building " + building + " for week " + week + ", semester " + semester;
        } else if (park != "No Preference" && park != "") {
            titleHtml += park + " park for week " + week + ", semester " + semester;
        } else { titleHtml += "all parks/buildings/rooms for week " + week + ", semester " + semester; }

        titleHtml += "</h2>";
        $('#subtitleDiv').html(titleHtml);

        //GET call to "getAvailability" function, which returns corresponding html string to print table
        $.get('@Url.Action("getAvailability")', { parkName: park, buildingName: building, roomCode: room,
            semester: semester, week: week, capacity: capacity, roomType: roomType
        }, function (data) {
            //alert(data);
            $('#tableDiv').html(data);
        });
    }

    //List all available rooms for slot function
    function listRooms(slot) {
        //arrays to use on slot value
        var days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"];
        var times = ["9:00", "10:00", "11:00", "12:00", "13:00", "14:00", "15:00", "16:00", "17:00"];
        //Form values
        var park = $('#Park').val();
        var building = $('#Building').val();
        var room = $('#Room').val().split(' ')[0];
        var semester = $('#Semester').val();
        var week = "";
        for (var i = 1; i < 16; i++) {
            var cb = "#Week" + i;
            if ($(cb).is(':checked')) {
                week += i + ";";
            }
        }
        week = week.substr(0, week.length - 1);
        var capacity = $('#CapacityAmount').val();
        var roomType = $('#Type').val();


        var queryLink = '@Url.Action("checkSlot")';
        $.get(queryLink, { parkName: park, buildingName: building, roomCode: room,
            semester: semester, week: week, capacity: capacity, roomType: roomType, slot: slot
        }, function (data) {

            var rooms = (data.substr(0, data.length - 1)).split(';');
            rooms.sort();

            var day = days[parseInt(slot.substr(4, 1))];
            var time = times[parseInt(slot.substr(5, 1))];

            var html = "<p>From here you can export the room, week, day and period to the request page...</p></br></br>";
            html += "<p>Day: " + day + "</p><p>Time: " + time + "</p></br></br>";
            html += "<p>Select Room: </p><select id='dialogRooms'>";
            for (var i = 0; i < rooms.length; i++) {
                html += "<option>" + rooms[i] + "</option>";
            }
            html += "</select>";
            $("#dialog").html(html);

            $(function () {
                $("#dialog").dialog({
                    resizable: false,
                    height: 325,
                    width: 300,
                    modal: true,
                    buttons: {
                        "Export": function () {
                            alert("hello");
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });
        });
    }

    
    
</script>

@*Park, Building, Room, Week*@
@{ string[] filters = { "Semester", "Park", "Building", "Room", "Week" };}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(false)
    <fieldset id="s1">
        <h2>Room</h2>
        <div class="field">
            <div class="editor-label">
                @Html.Label("Type")
            </div>
            <div class="editor-field">
                <div class="editor-field-inner">
                    @Html.DropDownList("Type", (IEnumerable<SelectListItem>)ViewData["Type"], "No Preference")
                </div>
            </div>
        </div>
        <div class="field">
            <div class="editor-label">
                @Html.Label("Capacity")
            </div>
            <div class="editor-field">
                <div style="float:left; width:100px;" class="editor-field-inner">
                    <div id="slider-range-max"></div>
                </div>
                <div style="float:right;" class="editor-field-inner">
                    <input type="text" id="CapacityAmount" readonly="readonly" style="width:50px" value="100" />
                </div>
            </div>
        </div>
        <div class="field">
            <div class="editor-label">
                @Html.Label("Park")
            </div>
            <div class="editor-field">
                <div class="editor-field-inner">
                    @Html.DropDownList("Park", (IEnumerable<SelectListItem>)ViewData["Park"], "No Preference")
                </div>
            </div>
        </div>
        <div class="field">
            <div class="editor-label">
                @Html.Label("Building")
            </div>
            <div class="editor-field">
                <div class="editor-field-inner">
                    @Html.DropDownList("Building", (IEnumerable<SelectListItem>)ViewData["Building"], "No Preference")
                </div>
            </div>
        </div>
        <div class="field">
            <div class="editor-label">
                @Html.Label("Room")
            </div>
            <div class="editor-field">
                <div class="editor-field-inner">
                    @Html.DropDownList("Room", (IEnumerable<SelectListItem>)ViewData["Room"], "No Preference")
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset id="s2">
        <h2>Weeks / Semester</h2>
        <div class="buttons-wrapper">
            <div>
				<button type=button id="checkAll">All</button>
				<button type=button id="oneToTwelve">1-12</button>
				<button type=button id="checkOdd">Odd</button>
				<button type=button id="checkEven">Even</button>
				<button type=button id="clearAll">Clear</button>
            </div>
        </div>
        <div class="field">
            <div class="buttons-wrapper">   <!-- lower whitespace needs removing -->
                @Html.Raw(ViewBag.WeekCheckboxes1)
            </div>
        </div>
        <div class="field">
            <div class="buttons-wrapper">   <!-- lower whitespace needs removing -->
                @Html.Raw(ViewBag.WeekCheckboxes2)
            </div>
        </div>
        <div class="field">
            <div class="buttons-wrapper">   <!-- lower whitespace needs removing -->
                @Html.Raw(ViewBag.WeekCheckboxes3)
            </div>
        </div>
        <div class="field">
            <div class="editor-label">
                @Html.Label("Semester")
            </div>
            <div class="editor-field">
                <div class="editor-field-inner">
                    @Html.DropDownList("Semester", (IEnumerable<SelectListItem>)ViewData["Semester"])
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset id="s3">
        <div id="tableDiv">
        
        </div>
    </fieldset>
}
<div hidden=true id="dialog" title="Export Data">

</div>