
@{
    ViewBag.Title = "Availability";
}
<script type="text/javascript">
    $(document).ready(function () {
        refreshTable();
        //Set Park field change function
        $('#Park').change(function () {
            refreshTable();
            var queryLink = '@Url.Action("parkSelected")';
            $.get(queryLink, { parkName: $(this).val() }, function (data) {
                var temp = data.split('!');
                var buildings = temp[0].split(';');
                var rooms = temp[1].split(';');
                $b = $('#Building');
                $b.empty();
                $b.append("<option>No Preference</option>");
                $r = $('#Room');
                $r.empty();
                $r.append("<option>No Preference</option>");
                for (var i = 0; i < buildings.length; i++) {
                    $b.append("<option>" + buildings[i] + "</option>");
                }
                for (var k = 0; k < rooms.length; k++) {
                    $r.append("<option>" + rooms[k] + "</option>");
                }
            });
        });
        //Set Building field change function
        $('#Building').change(function () {
            refreshTable();
            var queryLink = '@Url.Action("buildingSelected")';
            $.get(queryLink, { buildingName: $(this).val() }, function (data) {
                var rooms = data.split(';');
                $r = $('#Room');
                $r.empty();
                $r.append("<option>No Preference</option>");
                for (var k = 0; k < rooms.length; k++) {
                    $r.append("<option>" + rooms[k] + "</option>");
                }
            });
        });
        $('#Room').change(function () {
            refreshTable();
        });
        $('#Semester').change(function () {
            refreshTable();
        });
        $('#Week').change(function () {
            refreshTable();
        });
        $('#Type').change(function () {
            refreshTable();
        });
        $('button').change(function () {
            refreshTable();
        });
        $('#slider-range-max').change(function () {
            refreshTable();
        });
        ///////////////////////////////////////////////////////////////WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW

        $('.slot').click(function () {
            alert(this.id());
            /*var queryLink = '@Url.Action("checkSlot")';
            $.ajax(queryLink, { parkName: park, buildingName: building, roomCode: room,
            semester: semester, week: week, capacity: capacity, roomType: roomType, slot: slot
            }, function (data) {
            
            });*/
        });



        $(function () {
            $("#slider-range-max").slider({
                range: "max",
                min: 5,
                max: 300,
                value: 100,
                step: 5,
                change: refreshTable,
                slide: function (event, ui) {
                    $("#CapacityAmount").val(ui.value);
                }
            });
            $("#CapacityAmount").val($("#slider-range-max").slider("value"));
        });
    });

    //Function to print the table based on current form data
    function refreshTable() {
        //Form values
        var park = $('#Park').val();
        var building = $('#Building').val();
        var room = $('#Room').val().split(' ')[0];
        var semester = $('#Semester').val();
        var week = "";
        for(var i=1;i<16;i++){
            var cb = "#Week" + i;
            if ($(cb).is(':checked')) {
                week += i + ";";
            }
        }
        week = week.substr(0, week.length - 1);
        var capacity = $('#CapacityAmount').val();
        var roomType = $('#Type').val();

        var titleHtml = "<h2>Showing availability for ";

        if (room != "No" && room != "") {
            titleHtml += "room " + room + " for week " + week + ", semester " + semester;
        } else if (building != "No Preference" && building != "") {
            titleHtml += "building " + building + " for week " + week + ", semester " + semester;
        } else if (park != "No Preference" && park != "") {
            titleHtml += park + " park for week " + week + ", semester " + semester;
        } else { titleHtml += "all parks/buildings/rooms for week " + week + ", semester " + semester; }

        titleHtml += "</h2>";
        $('#subtitleDiv').html(titleHtml);

        //GET call to "getAvailability" function, which returns corresponding html string to print table
        $.get('@Url.Action("getAvailability")', { parkName: park, buildingName: building, roomCode: room,
            semester: semester, week: week, capacity: capacity, roomType: roomType
        }, function (data) {
            //alert(data);
            $('#tableDiv').html(data);
        });
    }

    //checkbox functions
    function checkAll() {
        for(var i=1;i<16;i++){
            var cb = '#Week' + i;
            $(cb).prop('checked',true);
        }
    }

    //List all available rooms for slot function
    function listRooms(slot) {
        //Form values
        var park = $('#Park').val();
        var building = $('#Building').val();
        var room = $('#Room').val().split(' ')[0];
        var semester = $('#Semester').val();
        var week = "";
        for (var i = 1; i < 16; i++) {
            var cb = "#Week" + i;
            if ($(cb).is(':checked')) {
                week += i + ";";
            }
        }
        week = week.substr(0, week.length - 1);
        var capacity = $('#CapacityAmount').val();
        var roomType = $('#Type').val();


        var queryLink = '@Url.Action("checkSlot")';
        $.get(queryLink, { parkName: park, buildingName: building, roomCode: room,
            semester: semester, week: week, capacity: capacity, roomType: roomType, slot: slot
        }, function (data) {
            //alert(data);
            var rooms = (data.substr(0, data.length - 1)).split(';');
            rooms.sort();
            for (var i = 0; i < rooms.length; i++) {
                alert(rooms[i]);
            }
        });
    }

    
    
</script>

@*Park, Building, Room, Week*@
@{ string[] filters = { "Semester", "Park", "Building", "Room", "Week" };}

<div class="container">
<ul class="list_grid">
	<li class="section">
		<h2>Room</h2>
		<table>
			<tr class="bottom">
				<td>@Html.Label("Type")</td>
				<td colspan="2">
                    @Html.DropDownList("Type", (IEnumerable<SelectListItem>)ViewData["Type"], "No Preference")
				</td>
			</tr>
			<tr class="bottom">
				<td>@Html.Label("Capacity")</td>
				<td colspan="2">
					<table>
                        <tr>
                            <td style="width:300px"><div id="slider-range-max"></div></td>
                            <td style="width:100px; text-align:center">
                            <input type="text" id="CapacityAmount" readonly="readonly" style="width:50px" value="100" />
                            </td>
                        </tr>
                    </table>
				</td>
			</tr>
			<tr class="bottom">
				<td>@Html.Label("Park")</td>
				<td colspan="2">@Html.DropDownList("Park", (IEnumerable<SelectListItem>)ViewData["Park"], "No Preference")</td>
			</tr>
			<tr class="bottom">
				<td>@Html.Label("Building")</td>
				<td>@Html.DropDownList("Building", (IEnumerable<SelectListItem>)ViewData["Building"], "No Preference")</td>
			</tr>
			<tr>
				<td>@Html.Label("Room")</td>
				<td>@Html.DropDownList("Room", (IEnumerable<SelectListItem>)ViewData["Room"], "No Preference")</td>
			</tr>
		</table>
	</li>
	<li class="section">
		<h2>Week / Semester</h2>
		<table>
			<tr class="bottom">
				<td>
                    <div>
					    <button>All</button>
					    <button>1-12</button>
					    <button>Odd</button>
					    <button>Even</button>
					    <button>Clear</button>
                    </div>
				</td>
			</tr>
			<tr class="bottom">
                <td>
                    <div id="inner_check">
                        @Html.Raw(ViewBag.WeekCheckboxes)
                    </div>
                </td>
            <tr>
				<td>@Html.Label("Semester")</td>
				<td colspan="2">@Html.DropDownList("Semester", (IEnumerable<SelectListItem>)ViewData["Semester"])</td>
			</tr>
		</table>
	</li>
    <li class="section grid">
        <div id="tableDiv">
        
        </div>
    </li>
</ul>
</div>

<button onclick="listRooms()" />


            