<script type="text/javascript">
    $(document).ready(function () {
        refreshTable();
        //Set Park field change function
        $('#Park').change(function () {
            var queryLink = '@Url.Action("parkSelected")';
            var value = $(this).val();
            if (value.indexOf('<') !== -1) value = "";

            var roomType = $('#Type').val();
            if (roomType.indexOf('<') !== -1) value = "";
            if (roomType == "Lecture") roomType = 1;
            else if (roomType == "Seminar") roomType = 2;
            else if (roomType == "Lab") roomType = 3;
            else roomType = 0;
            $.get(queryLink, { parkName: value, roomType: roomType }, function (data) {
                var temp = data.split('!');
                var buildings = temp[0].split(';');
                var rooms = temp[1].split(';');
                $b = $('#Building');
                $b.empty();
                $b.append("<option> < Select a building > </option>");
                $r = $('#Room');
                $r.empty();
                $r.append("<option> < Select a room > </option>");
                for (var i = 0; i < buildings.length; i++) {
                    $b.append("<option>" + buildings[i] + "</option>");
                }
                for (var k = 0; k < rooms.length; k++) {
                    $r.append("<option>" + rooms[k] + "</option>");
                }
                refreshTable();
            });
        });
        //Set Building field change function
        $('#Building').change(function () {
            var queryLink = '@Url.Action("buildingSelected")';
            var value = $(this).val();
            if (value.indexOf('<') !== -1) value = "";

            var roomType = $('#Type').val();
            if (roomType.indexOf('<') !== -1) value = "";
            if (roomType == "Lecture") roomType = 1;
            else if (roomType == "Seminar") roomType = 2;
            else if (roomType == "Lab") roomType = 3;
            else roomType = 0;
            $.get(queryLink, { buildingName: value, roomType: roomType }, function (data) {
                var rooms = data.split(';');
                $r = $('#Room');
                $r.empty();
                $r.append("<option> < Select a room > </option>");
                for (var k = 0; k < rooms.length; k++) {
                    $r.append("<option>" + rooms[k] + "</option>");
                }
                refreshTable();
            });
        });
        $('#Room').change(function () {
            refreshTable();
        });
        $('#Semester').change(function () {
            refreshTable();
        });
        $('#Week').change(function () {
            refreshTable();
        });
        $('#Type').change(function () {
            var filterType, filter;
            var park = $('#Park option:selected').text();
            if (park.indexOf('<') !== -1) park = "";
            var building = $("#Building option:selected").text();
            if (building.indexOf('<') !== -1) building = "";
            var room = $('#Room option:selected').text();
            if (room.indexOf('<') !== -1) room = "";
            if (room != "") {
                filterType = "room";
                filter = room;
            } else if (building != "") {
                filterType = "building";
                filter = building;
            } else if (park != "") {
                filterType = "park";
                filter = park;
            } else {
                filterType = "none";
                filter = "";
            }
            var roomType = $(this).val();
            if (roomType == "Lecture") roomType = 1;
            else if (roomType == "Seminar") roomType = 2;
            else if (roomType == "Lab") roomType = 3;
            else roomType = 0;

            var queryLink = '@Url.Action("typeSelected")';

            $.get(queryLink, { filter: filter, roomType: roomType, filterType: filterType }, function (data) {
                var rooms = data.split(';');
                $r = $('#Room');
                $r.empty();
                $r.append("<option> < Select a room > </option>");
                for (var k = 0; k < rooms.length; k++) {
                    $r.append("<option>" + rooms[k] + "</option>");
                }
                refreshTable();
            });
        });
        $('#slider-range-max').change(function () {
            var queryLink = '@Url.Action("capacitySelected")';
            var value = parseInt($('#CapacityAmount').val());
            $.get(queryLink, { capacity: value }, function (data) {
                var rooms = data.split(';');
                $r = $('#Room');
                $r.empty();
                $r.append("<option> < Select a room > </option>");
                for (var k = 0; k < rooms.length; k++) {
                    $r.append("<option>" + rooms[k] + "</option>");
                }
                refreshTable();
            });
        });

        $(function () {
            $("#slider-range-max").slider({
                range: "max",
                min: 5,
                max: 300,
                value: 100,
                step: 5,
                change: function (event, ui) {
                    var capacity = ui.value;
                    console.log(ui.value);
                    var roomCapacity;
                    var field;
                    $('#Room option').each(function () {
                        field = $(this).text();
                        roomCapacity = field.substr(field.indexOf(':') + 2, field.length - field.indexOf(':') - 3);
                        if (parseInt(roomCapacity) < parseInt(capacity)) {
                            $(this).hide();
                        } else {
                            $(this).show();
                        }
                    });
                    refreshTable();
                },
                slide: function (event, ui) {
                    $("#CapacityAmount").val(ui.value);
                }
            });
            $("#CapacityAmount").val($("#slider-range-max").slider("value"));
        });

        //checkbox button functions
        function clearAll() {
            for (var i = 1; i < 16; i++) {
                var cb = '#Week' + i;
                $(cb).prop('checked', false);
            }
        }
        $('#clearAll').click(function () {
            clearAll();
        });
        $('#checkAll').click(function () {
            for (var i = 1; i < 16; i++) {
                var cb = '#Week' + i;
                $(cb).prop('checked', true);
            }
            refreshTable();
        });
        $('#oneToTwelve').click(function () {
            clearAll();
            for (var i = 1; i < 13; i++) {
                var cb = '#Week' + i;
                $(cb).prop('checked', true);
            }
            refreshTable();
        });
        $('#checkEven').click(function () {
            clearAll();
            for (var i = 1; i < 16; i++) {
                if (i % 2 == 0) {
                    var cb = '#Week' + i;
                    $(cb).prop('checked', true);
                }
            }
            refreshTable();
        });
        $('#checkOdd').click(function () {
            clearAll();
            for (var i = 1; i < 16; i++) {
                if (i % 2 == 1) {
                    var cb = '#Week' + i;
                    $(cb).prop('checked', true);
                }
            }
            refreshTable();
        });
        //refresh table on checkbox change
        $('.weekBox').change(function () {
            refreshTable();
        });
        $(function () {
            $('select#Semester option:last').attr("selected", "selected");
        });
    });
    //Function to print the table based on current form data
    function refreshTable() {
        $('#a3').css("visibility", "hidden");
        $('#loading').css("visibility", "visible");
        //Form values
        var park = $('#Park option:selected').text();
        if (park.indexOf('<') !== -1) park = "";
        var building = $("#Building option:selected").text();
        if (building.indexOf('<') !== -1) building = "";
        var room = $('#Room option:selected').text();
        if (room.indexOf('<') !== -1) room = "";
        var roomType = $('#Type').val();
        if (roomType.indexOf('<') !== -1) value = "";
        else {
            var temp = room.indexOf("(");
            room = room.substr(0, temp);
        }
        var semester = $('#Semester').val();
        var week = "";
        for (var i = 1; i < 16; i++) {
            var cb = "#Week" + i;
            if ($(cb).is(':checked')) {
                week += i + ";";
            }
        }
        /*
        var park = $("#Park option:selected").text();
        if (park.indexOf('<') !== -1) park = "";
        var building = $("#Building option:selected").text();
        if (building.indexOf('<') !== -1) building = "";
        var roomType = $('#RoomType option:selected').text();
        if (roomType.indexOf('<') !== -1) roomType = "";
        */
        if (week == "") {
            alert("Cannot search for availability with zero weeks checked.");
            return;
        } else {
            week = week.substr(0, week.length - 1);
        }
        var capacity = $('#CapacityAmount').val()
        
        var subWeek;
        var titleHtml = "<h2 id='tableSubtitle'>Showing availability for ";
        if (week.length > 1) {
            subWeek = "multiple weeks";
        } else {
            subWeek = "week " + week;
        }
        if (room != "No" && room != "") {
            titleHtml += "room " + room + " for " + subWeek + ", semester " + semester;
        } else if (building != "No Preference" && building != "") {
            titleHtml += "building " + building + " for " + subWeek + ", semester " + semester;
        } else if (park != "No Preference" && park != "") {
            titleHtml += park + " park for " + subWeek + ", semester " + semester;
        } else { titleHtml += "all parks/buildings/rooms for " + subWeek + ", semester " + semester; }

        titleHtml += "</h2>";
        $('#subtitleDiv').html(titleHtml);

        //GET call to "getAvailability" function, which returns corresponding html string to print table
        $.get('@Url.Action("getAvailability")', { parkName: park, buildingName: building, roomCode: room,
            semester: semester, week: week, capacity: capacity, roomType: roomType
        }, function (data) {
            //alert(data);
            $('#tableDiv').html(data);
            $('#a3').css("visibility", "visible");
            $('#loading').css("visibility", "hidden");
        });
        
    }

    //List all available rooms for slot function
    function listRooms(slot) {
        //arrays to use on slot value
        var days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"];
        var times = ["9:00", "10:00", "11:00", "12:00", "13:00", "14:00", "15:00", "16:00", "17:00"];
        //Form values
        var park = $('#Park option:selected').text();
        if (park.indexOf('<') !== -1) park = "";
        var building = $("#Building option:selected").text();
        if (building.indexOf('<') !== -1) building = "";
        var room = $('#Room option:selected').text();
        if (room.indexOf('<') !== -1) room = "";
        var roomType = $('#Type').val();
        if (roomType.indexOf('<') !== -1) value = "";
        var semester = $('#Semester').val();
        var week = "";
        for (var i = 1; i < 16; i++) {
            var cb = "#Week" + i;
            if ($(cb).is(':checked')) {
                week += i + ";";
            }
        }
        week = week.substr(0, week.length - 1);
        var weekArray = week.split(";");
        var capacity = $('#CapacityAmount').val();

        if (week == "") {
            alert("Cannot view available rooms without weeks selected.");
        } else {
            var queryLink = '@Url.Action("checkSlot")';
            $.get(queryLink, { parkName: park, buildingName: building, roomCode: room,
                semester: semester, week: week, capacity: capacity, roomType: roomType, slot: slot
            }, function (data) {
                var html;
                var day = days[(parseInt(slot.substr(4, 1))) - 1];
                var time = times[(parseInt(slot.substr(5, 1))) - 1];
                $('#dialog').css("visibility", "visible");

                if (data == "") {
                    html = "<p>From here you can export the room, week, day and period to the request page...</p></br></br>";
                    html += "<p>Day: " + day + "</p><p>Time: " + time + "</p></br></br>";
                    html += "<p>There are no rooms available for the current selection of filters.</p></br></br>";
                    $("#dialog").html(html);
                    $(function () {
                        $("#dialog").dialog({
                            resizable: false,
                            height: 325,
                            width: 300,
                            modal: true,
                            buttons: {
                                Cancel: function () {
                                    $(this).dialog("close");
                                }
                            }
                        });
                    });
                } else {
                    var rooms = (data.substr(0, data.length - 1)).split(';');
                    rooms.sort();

                    html = "<p>From here you can export the room, week, day and period to the request page...</p></br></br>";
                    html += "<p>Day: " + day + "</p><p>Time: " + time + "</p></br></br>";
                    html += "<p>Select Room: </p><select id='dialogRooms'>";
                    for (var i = 0; i < rooms.length; i++) {
                        html += "<option>" + rooms[i] + "</option>";
                    }
                    html += "</select>";

                    $("#dialog").html(html);

                    $(function () {
                        $("#dialog").dialog({
                            resizable: false,
                            height: 325,
                            width: 300,
                            modal: true,
                            buttons: {
                                "Export": function () {
                                    var queryLink = '@Url.Action("getRoomID")';
                                    var room = $('#dialogRooms').val().split(' ')[0];
                                    $.get(queryLink, { roomCode: room }, function (data) {
                                        var url = "Home/Autofill";
                                        url += "?Weeks=" + weekArray.join('|');
                                        url += "&Room=" + data;
                                        url += "&Day=" + day;
                                        url += "&StartTime=" + (parseInt(slot.substr(5, 1)) + 8);
                                        window.location = url;
                                    });
                                },
                                Cancel: function () {
                                    $(this).dialog("close");
                                }
                            }
                        });
                    });
                }


            });
        }
    }

</script>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(false)
    <fieldset class="availabilityField" id="a1">
        <h2>Room</h2>
        <div class="field">
            <div class="editor-label">
                @Html.Label("Type")
            </div>
            <div class="editor-field">
                    @Html.DropDownList("Type", (IEnumerable<SelectListItem>)ViewData["Type"], "< Select a room type >")
            </div>
        </div>
        <div class="field">
            <div class="editor-label">
                @Html.Label("Capacity")
            </div>
            <div class="editor-field">
                <div style="float:left; width:70%;" class="editor-field-inner">
                    <div id="slider-range-max"></div>
                </div>
                <div style="float:right;" class="editor-field-inner">
                    <input type="text" id="CapacityAmount" readonly="readonly" style="width:50px; color: #dbdbde;" value="100" />
                </div>
            </div>
        </div>
        <div class="field">
            <div class="editor-label">
                @Html.Label("Park")
            </div>
            <div class="editor-field">
                    @Html.DropDownList("Park", (IEnumerable<SelectListItem>)ViewData["Park"], "< Select a park >")
            </div>
        </div>
        <div class="field">
            <div class="editor-label">
                @Html.Label("Building")
            </div>
            <div class="editor-field">
                    @Html.DropDownList("Building", (IEnumerable<SelectListItem>)ViewData["Building"], "< Select a building >")
            </div>
        </div>
        <div class="field">
            <div class="editor-label">
                @Html.Label("Room")
            </div>
            <div class="editor-field">
                    @Html.DropDownList("Room", (IEnumerable<SelectListItem>)ViewData["Room"], "< Select a room >")
            </div>
        </div>
    </fieldset>
    <fieldset class="availabilityField" id="a2">
        <h2>Weeks / Semester</h2>
        <div class="field">
            <div class="buttons-wrapper">
				    <button type="button" class="weekButton" id="checkAll">All</button>
				    <button type="button" class="weekButton" id="oneToTwelve">1-12</button>
				    <button type="button" class="weekButton" id="checkOdd">Odd</button>
				    <button type="button" class="weekButton" id="checkEven">Even</button>
				    <button type="button" class="weekButton" id="clearAll">Clear</button>
            </div>
        </div>
        <div class="field">
            <div class="buttons-wrapper greatForm">   <!-- lower whitespace needs removing -->
                @Html.Raw(ViewBag.WeekCheckboxes1)
            </div>
        </div>
        <div class="field">
            <div class="buttons-wrapper greatForm">   <!-- lower whitespace needs removing -->
                @Html.Raw(ViewBag.WeekCheckboxes2)
            </div>
        </div>
        <div class="field">
            <div class="buttons-wrapper greatForm">   <!-- lower whitespace needs removing -->
                @Html.Raw(ViewBag.WeekCheckboxes3)
            </div>
        </div>
        <div class="field">
            <div class="editor-label">
                @Html.Label("Semester")
            </div>
            <div class="editor-field">
                    @Html.DropDownList("Semester", (IEnumerable<SelectListItem>)ViewData["Semester"])
            </div>
        </div>
    </fieldset>
    
    <img id="loading" src="@Url.Content("~/Content/images/ajax-loader.gif")" />
   <fieldset style="visibility:hidden" id="a3">
        <div id="subtitleDiv">
        </div>
        <div id="tableDiv">
        
        </div>
    </fieldset>
}
<div style="visibility:hidden" id="dialog" title="Export Data">

</div>