@model TimetableSystem.Models.BPRViewModel
@{
    ViewBag.Title = "Timetabling System - Availability";
}
<script src="../../Scripts/jquery-1.4.1.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        refreshTable();
    });

    function refreshTable() {
        var days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"];
        var times = ["9:00-9:50", "10:00-10:50", "11:00-11:50", "12:00-12:50", "13:00-13:50", "14:00-14:50", "15:00-15:50",
                        "16:00-16:50", "17:00-17:50"];

        var tableHTML = "<table><tr><th><p style='text-align: center'>-</p></th>";
        
        for (var i = 0; i < 9; i++) {
            tableHTML += "<th>" + times[i] + "</th>";
        }

        tableHTML += "</tr>";

        for (var k = 0; k < 5; k++) {
            tableHTML += "<tr><th>" + days[k] + "</th>";

            for (var l = 0; l < 9; l++) {
                tableHTML += "<td class='availability'></td>"
            }
            tableHTML += "</tr>"
        }

        tableHTML += "</table>";
        $('#tableDiv').html(tableHTML);
    }
</script>

<h2>Availability</h2>

@*Park, Building, Room, Week*@
@{ string[] filters = {"Semester", "Park", "Building", "Room", "Week"};}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>Filters</legend>

            <div class="editor-label">
                @Html.Label("Semester")
            </div>
            <div class="editor-field">
                @Html.DropDownList("Semester", (IEnumerable<SelectListItem>)ViewData["Semester"], string.Empty)
            </div>

            <div class="editor-label">
                @Html.Label("Park")
            </div>
            <div class="editor-field">
                @Html.DropDownList("Park", (IEnumerable<SelectListItem>)ViewData["Park"], string.Empty)
            </div>

            <div class="editor-label">
                @Html.Label("Building")
            </div>
            <div class="editor-field">
                @Html.DropDownList("Building", (IEnumerable<SelectListItem>)ViewData["Building"], string.Empty)
            </div>

            <div class="editor-label">
                @Html.Label("Room")
            </div>
            <div class="editor-field">
                @Html.DropDownList("Room", (IEnumerable<SelectListItem>)ViewData["Room"], string.Empty)
            </div>

            <div class="editor-label">
                @Html.Label("Week")
            </div>
            <div class="editor-field">
                @Html.DropDownList("Week", (IEnumerable<SelectListItem>)ViewData["Week"])
            </div>

        
        @*@for (int i = 0; i < filters.Length; i++)
        {
            <div class="editor-label">
                @Html.Label(@filters[i])
            </div>
            <div class="editor-field">
                @Html.DropDownList("@filters[i]", @filters[i], string.Empty)
            </div>
        }*@

    </fieldset>
    <div id="tableDiv">
        
    </div>

}