<!DOCTYPE html>
<html>
	<head>
    	<meta charset="utf-8" />
	    <title>Timetabling System - @ViewBag.Title</title>
	    <link href="@Url.Content("~/Content/themes/base/jquery-ui-1.9.2.css")" rel="Stylesheet" type="text/css" />
    	<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
	    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"></script>
    	<script src="@Url.Content("~/Scripts/jquery-ui-1.9.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/View/jquery.dataTables.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/global.js")" type="text/javascript"></script>
		<script src="@Url.Content("~/Scripts/accessibility.js")" type="text/javascript"></script>

		<link href="@Url.Content("~/Content/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/form.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/requests.css")" rel="stylesheet" type="text/css" />
		<link href="@Url.Content("~/Content/saved.css")" rel="stylesheet" type="text/css" />
		<link href="@Url.Content("~/Content/availability.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/view.css")" rel="stylesheet" type="text/css" />
		
		<link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
		@*<link href="@Url.Content("~/Content/radio-checks.css")" rel="stylesheet" type="text/css" />*@
		<link href="@Url.Content("~/Content/icons.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/modules.css")" rel="Stylesheet" type="text/css" />
		<link href="@Url.Content("~/Content/new-checkboxes.css")" rel="Stylesheet" type="text/css" />
		<link href="@Url.Content("~/Content/component.css")" rel="stylesheet" type="text/css" />
		<link href="@Url.Content("~/Content/login.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/fieldsetchecks.css")" rel="stylesheet" type="text/css" />
		
		<script>
			var currentURL = window.location.pathname.toString();
			if (currentURL = '/team09web/View/') { 
				$('a#requests').addClass('active')
			}
		</script>
	</head>
	<body>
		<div class="container">
			<header>
				<nav>
					<ul>
						<li class="dept">
							<a id="dept" class="title" href="@Url.Action("Index", "Home")"><span class="fa fa-logo fa-@ViewBag.Department"></span><h3>@ViewBag.Department</h3></a>
							<p class="menuRound">Semester 2 - Round 2<p>
						</li>

                        @if (!(ViewBag.Title == "Log On") && !(ViewBag.Title=="Register"))  
                        {   @* hide navigation bar while not logged in *@
						<div class="menu" style="float: right;">
							@*<li>@Html.ActionLink("Request Form", "Index", "Home", null, new { @class = "menu" })</li>*@
							<li><a id="form" class="menu" href="@Url.Action("Index", "Home")"><span class="fa fa-menu fa-file-text-o"></span>Request Form</a></li>
							@*<li>@Html.ActionLink("Requests", "Index", "View", null, new { @class = "menu" })</li>*@
							<li><a id="requests" class="menu" href="@Url.Action("Index", "View")"><span class="fa fa-menu fa-eye"></span>View Requests</a></li>
							@*<li>@Html.ActionLink("Save", "Index", "Save", null, new { @class = "menu" })</li>*@
							@*<li><a id="saved" class="menu" href="@Url.Action("Index", "Save")"><span class="fa fa-menu fa-save"></span>Save</a></li>*@
							@*<li>@Html.ActionLink("Modules", "Index", "Module", null, new { @class = "menu" })</li>*@
							<li><a id="modules" class="menu" href="@Url.Action("Index", "Module", new { moduleCode = " ", moduleTitle = "" })"><span class="fa fa-menu fa-bookmark-o"></span>Modules</a></li>
							@*<li>@Html.ActionLink("Room Availability", "Index", "Availability", null, new { @class = "menu" })</li>*@
							<li><a id="availability" class="menu" href="@Url.Action("Index", "Availability")"><span class="fa fa-menu fa-table"></span>Room Availability</a></li>
							@*<li>@Html.ActionLink("Logout", "Index", "Logout", null, new { @class = "menu" })</li>*@
							<li><a id="logout" class="menu" href="@Url.Action("LogOff", "Account")"><span class="fa fa-menu fa-sign-out"></span>Logout</a></li>
						</div>
                        }
					</ul>
				</nav>
			</header>
			<ul class="list_grid">
				@RenderBody()
			</ul>	
		</div>
		<footer>
		    
                <div class="accessibility">
    <a href="javascript:increaseFont();"><img src="Content/images/zoom_in.png" alt="Increase Font Size"></a>
        <a href="javascript:decreaseFont();"><img src="Content/images/zoom_out.png" alt="Decrease Font Size"></a>
            <a href="javascript:resetFont();"><img src="Content/images/zoom.png" alt="Reset Font Size to Default"></a>
                <a href="javascript:negativar();"><img src="Content/images/invert.png" alt="Invert Colours"></a>
    </div>
		</footer>
        <script type="text/javascript">
            $('input[type="radio"][name="Day"]').bind('keyup change', function () {
                // get elements that are empty
                var empty = $('input[type="radio"][name="Day"]').map(function (index, el) {
                    return !$(el).val().length ? el : null;
                }).get();

                // could also be placed outside of the function
                var tick = $('#tick1');
                var cross = $('#cross1');

                // check if there are any empty elements, if there are none, show numbers, else hide number.
                !empty.length ? tick.show() : tick.hide();
                !empty.length ? cross.hide() : cross.show();
            });

            //Select weeks table, change cross to tick
            $('input[type="checkbox"][name="Weeks"]').bind('keyup change', function () {
                // get elements that are empty.
                var checked = $('.weekBox').filter(':checked');

                // could also be placed outside of the function
                var tick = $('#tick3');
                var cross = $('#cross3');

                // check if there are any empty elements, if there are none, show numbers, else hide number.
                checked.length ? tick.show() : tick.hide();
                checked.length ? cross.hide() : cross.show();
            });

            //Select module table, change cross to tick
            $('#ModuleCode').bind('keyup change', function () {

                // get elements that are empty.
                var empty = $('#ModuleCode').map(function (index, el) {
                    return !$(el).val().length ? el : null;
                }).get();

                // could also be placed outside of the function
                var tick = $('#tick2');
                var cross = $('#cross2');

                // check if there are any empty elements, if there are none, show numbers, else hide number.
                !empty.length ? tick.show() : tick.hide();
                !empty.length ? cross.hide() : cross.show();
            });

            //Select room_info table, change cross to tick
            $('#StudentsTotal').bind('keyup change', function () {

                // get elements that are empty.
                var empty = $('#StudentsTotal').map(function (index, el) {
                    return !$(el).val().length ? el : null;
                }).get();

                // could also be placed outside of the function
                var tick = $('#tick5');
                var cross = $('#cross5');

                // check if there are any empty elements, if there are none, show numbers, else hide number.
                !empty.length ? tick.show() : tick.hide();
                !empty.length ? cross.hide() : cross.show();
            });

        </script>

	</body>
</html>
