@model TimetableSystem.Models.LogOnModel

@{
    ViewBag.Title = "Log On";
}

<h2>Login page</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm()) {
    <fieldset>
        <h2>Authentication</h2>
        <div class="field">
            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div>
        <div class="field">
            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <!-- code for departments dropdown box?
        <div class="field">
            <div class="editor-label">
                @* @Html.LabelFor( ) *@
            </div>
            <div class="editor-field">
                @* @Html.DropDownListFor( ) *@
                @* @Html.ValidationMessageFor( ) *@
            </div>
        </div>
        -->
        <div class="field" style="border:0;">
            <div class="editor-label">
                @Html.LabelFor(m => m.RememberMe)
                @Html.CheckBoxFor(m => m.RememberMe)
            </div>
            <div class="editor-field">
                <button>Log in</button>
                <!--<input type="submit" value="Log On" class="button1" style="padding:0;"/>-->               
            </div>
        </div>
    </fieldset>
    
    <p>
        Please enter your user name and password. &#x25BC; @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}