@model IEnumerable<TimetableSystem.Models.Request>
@{
    ViewBag.Title = "Requests";
}
<h3>Your Requests</h3>

<script src="@Url.Content("~/Scripts/View/index.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/View/filter.js")" type="text/javascript"></script>

@if (ViewBag.Message != null)
{
    @ViewBag.Message
}

<div class="view-filters">
    <label for="Rounds">Rounds</label>
    <select id="Rounds">
        <option>&lt; Select a Round &gt;</option>
        <optgroup label="Semester 1">
            <option value="11">Round 1</option>
            <option value="12">Round 2</option>
            <option value="13">Round 3</option>
        </optgroup>
        <optgroup label="Semester 2">
            <option value="21">Round 1</option>
            <option value="22">Round 2</option>
            <option value="23">Round 3</option>
        </optgroup>
    </select>
    <label for="Status">Status</label>
    <select id="Status">
        <option>&lt; Select a Status &gt;</option>
        <option>Pending</option>
        <option>Accepted</option>
        <option>Failed</option>
    </select>
    <label for="Module">Module</label>
    @Html.DropDownList("Module", (SelectList)ViewBag.Modules, "< Select a Module >")
    <label for="ModuleCode">Module Code</label>
    @Html.DropDownList("ModuleCode", (SelectList)ViewBag.ModuleCodes, "< Select a Module Code >")
</div>

<table id="requests-table">
    <thead>
        <tr>
            <td>Semester</td>
            <td>Round</td>
            <td>Module Code</td>
            <td>Module</td>
            <td>Day</td>
            <td>Start Time</td>
            <td>Length</td>
            <td>Weeks</td>
            <td>Rooms</td>
            <td>AcceptedRooms</td>
            <td>Status</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td class="semester">@Html.DisplayFor(modelItem => item.Semester)</td>
            <td class="round">@Html.DisplayFor(modelItem => item.Round)</td>
            <td class="moduleCode">@Html.DisplayFor(modelItem => item.Module.ModuleCode)</td>
            <td class="moduleTitle">@Html.DisplayFor(modelItem => item.Module.ModuleTitle)</td>
            <td class="day">@item.Day</td>
            <td class="startTime">@item.StartTime:00</td>
            <td class="length">@item.Length</td>
            <td class="weeks">
        @{
        bool first = true;
            foreach (TimetableSystem.Models.RequestWeek week in item.RequestWeeks)
            {
                if (!first)
                {
                    @Html.Raw(", ");
                }
                else
                {
                    first = false;
                }
                @week.Week.ToString();
            }
        }
            </td>
            <td class="rooms">
        @foreach (TimetableSystem.Models.RequestRoom room in item.RequestRooms)
        {
            if (room.Room != null)
            {
                @room.Room.RoomCode;
            }
        }
            </td>
            <td class="acceptedRooms">
        @if (item.AcceptedRooms.ToArray().Length > 0)
        {
            foreach (TimetableSystem.Models.AcceptedRoom room in item.AcceptedRooms)
            {
                if (room.Room != null)
                {
                    @room.Room.RoomCode;
                }
            }
        }
        else
        {
            @Html.Raw("N/A");
        }
            </td>
            <td><span class="status">@item.Status</span></td>
            <td><span class="controls">
                @Html.ActionLink("Edit", "Edit", "Home", new { id = item.RequestId }, new { target = "_self", @class = "edit" })
                @Html.ActionLink("Delete", "Delete", "Home", new { id = item.RequestId }, new { target = "_self", @class = "delete" })
            </span></td>
        </tr>
    }
    </tbody>
</table>