@model IEnumerable<TimetableSystem.Models.Request>
@{
    ViewBag.Title = "Requests";
}
<h3>Your Requests</h3>

<script src="@Url.Content("~/Scripts/View/index.js")" type="text/javascript"></script>

@if (ViewBag.Message != null)
{
    @ViewBag.Message
}

<p>
    Select from @Model.Count() requests:</p>
<table id="requests-table">
    <thead>
        <tr>
            <td>Module Code</td>
            <td>Module</td>
            <td>Day</td>
            <td>Start Time</td>
            <td>Length</td>
            <td>Weeks</td>
            <td>Rooms</td>
            <td>AcceptedRooms</td>
            <td>Status</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Module.ModuleCode)</td>
            <td>@Html.DisplayFor(modelItem => item.Module.ModuleTitle)</td>
            <td>@item.Day</td>
            <td>@item.StartTime:00</td>
            <td>@item.Length</td>
            <td>
        @{
        bool first = true;
            foreach (TimetableSystem.Models.RequestWeek week in item.RequestWeeks)
            {
                if (!first)
                {
                    @Html.Raw(", ");
                }
                else
                {
                    first = false;
                }
                @week.Week.ToString();
            }
        }
            </td>
            <td class="rooms">
        @foreach (TimetableSystem.Models.RequestRoom room in item.RequestRooms)
        {
            if (room.Room != null)
            {
                @room.Room.RoomCode;
            }
        }
            </td>
            <td class="acceptedRooms">
        @if (item.AcceptedRooms.ToArray().Length > 0)
        {
            foreach (TimetableSystem.Models.AcceptedRoom room in item.AcceptedRooms)
            {
                if (room.Room != null)
                {
                    @room.Room.RoomCode;
                }
            }
        }
        else
        {
            @Html.Raw("N/A");
        }
            </td>
            <td><span class="status">@item.Status</span></td>
            <td><span class="controls">
                @Html.ActionLink("Edit", "Edit", "Home", new { id = item.RequestId }, new { target = "_self", @class = "edit" })
                @Html.ActionLink("Delete", "Delete", "Home", new { id = item.RequestId }, new { target = "_self", @class = "delete" })
            </span></td>
        </tr>
    }
    </tbody>
</table>