@model IEnumerable<TimetableSystem.Models.Module>

@{
    ViewBag.Title = "View Modules";
}

@*<h3>Total: @Model.Count()</h3>*@
<h2>Module Page</h2>
<p>
    @Html.ActionLink("Create New", "Edit")
</p>

<table>
    <tr>
        <th>
            ModuleCode
        </th>
        <th>
            ModuleTitle
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ModuleCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModuleTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ModuleID }, new { target = "_self" }) |
            @Html.ActionLink("Details", "Details", new { id = item.ModuleID }, new { target = "_self" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ModuleID }, new { onclick = "return confirm('Are you sure you wish to delete this module?');" })   
        </td>
    </tr>
}
</table>