@model IEnumerable<TimetableSystem.Models.Module>

@{
    ViewBag.Title = "View Modules";
}

@using (Html.BeginForm("Index", "Module", new { name = "hiddenForm" }, FormMethod.Get))
{
            <input type="hidden" id="moduleCode" name="moduleCode" />
            <input type="hidden" id="moduleTitle" name="moduleTitle" />

<div class="buttons-wrapper bar">

    <div>
        <input type="submit" value="Filter" class="button" style="padding:5px;" />
    </div>
    <div>
        <input type="submit" value="Reset" class="button" style="padding:5px;" onclick="clear();" />
    </div>
    <div>
        @Html.ActionLink("Create", "Edit", new { }, new { @class = "button" })
    </div>
</div>
}

<script type="text/javascript">
    function filter() {
        document.getElementById('moduleCode').value = document.getElementById('codeInput').value;
        document.getElementById('moduleTitle').value = document.getElementById('titleInput').value;
    }
    function clear() {
        document.getElementById('moduleCode').value = "";
        document.getElementById('moduleTitle').value = "";
        filter();
    }
</script>

@*<h3>Total: @Model.Count()</h3>*@
@*<h2>Module Page</h2>*@

<!-- the new table -->
@*<fieldset>
    <h2>Module code & title</h2>
    @foreach (var item in Model)
    {
        <div class="field">
            <div class="editor-label">
                @Html.DisplayFor(modelItem => item.ModuleCode)
            </div>
            <div class="editor-field">
                <div class="editor-field-inner" style="float:left;">
                    @Html.DisplayFor(modelItem => item.ModuleTitle)
                </div>
            </div>
        </div>
    }
</fieldset>*@

<fieldset>
    <h2>Module code</h2>
    <div class="field">
        <div class="editor-field" style="min-width:100%; float:left;">
            <input class="filter" id="codeInput" name="codeInput" type="text" 
                onchange="filter();"
            />
         </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="field">
            <div class="editor-label">
                @Html.DisplayFor(modelItem => item.ModuleCode)
            </div>
        </div>
    }


</fieldset>

<fieldset>
    <h2>Module title</h2>
    <div class="field">
        <div class="editor-field" style="min-width:100%; float:left;">
            <input id="titleInput" name="titleInput" type="text" class="filter" 
                onchange="filter();" 
            /> 
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="field">
            <div class="editor-label">@Html.DisplayFor(modelItem => item.ModuleTitle)</div>
        </div>
    }
</fieldset>

<fieldset class="modulesFieldset">
    
    <div class="field" style="background:none; border:0;"></div>
    <div class="field" style="background:none; border:0;"></div>
    @foreach (var item in Model)
    {
        <div class="field" style="border:0; max-width:50%; background-color:inherit;">
            <div class="editor-label">
                @Html.ActionLink("Edit", "Edit", new { code = item.ModuleCode }, new { @class = "button" }) 
            </div>
            <div class="editor-label" style="float:right;">
                @Html.ActionLink("Delete", "Delete", new { code = item.ModuleCode }, new { onclick = "return confirm('Are you sure you wish to delete this module?');", @class = "button" })
            </div> 
        </div>
    }
</fieldset>